@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}